.testimonial-container {
  position: relative;
  overflow: hidden;
}

.testimonial-item {
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.testimonial-item.slide-in {
  transform: translateX(0);
}

.testimonial-item.slide-out-prev {
  transform: translateX(-100%);
}

.testimonial-item.slide-out-next {
  transform: translateX(100%);
}

@media screen and (max-width: 900px) {
  .testimonial-swiper {
    width: 400px !important;
    height: 400px !important;
  }

}
@media screen and (max-width: 430px) {
  .testimonial-swiper {
    width: 300px !important;
    height: 300px !important;
  }

}