.detailsbanner {
  background: radial-gradient(
      34.28% 34.28% at 50% 50%,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 99.83%
    ),
    url("../../assets/img/detailbanner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 420px;
}

@media screen and (max-width: 768px) {
    .detailsbanner{
        height: 300px;
    }
}
